@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Ultra&display=swap');

/* Color palette*/
/* CSS Variables */
:root {
    /* --primary-font: "Ultra", serif;
    --secondary-font: "Stint Ultra Condensed", serif; */
    --primary-color: #5D8AA8; /* Air Force Blue */
    --secondary-color: #80CBC4; /*  Calm Teal */
    --accent-color:  #E6E6FA; /*  Light Lavender. */
    --background-color: #FAF3E0; /* Soft Beige */
    --text-color: #333333; /* Dark Charcoal */
    --border-details: #B0C4DE; /* Cool Gray */
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    /* font-family: var(--secondary-font); */
    font-size: 62.5%;
}

/* General styling */
h1, h2, h3, h5 {
    margin-bottom: 1rem;
}

.section-height-placeholder {
    min-height: 100vh;
}


.logo {
    display: inline-block;
    width: 15%;
}

.logo-btn {
    display: flex;
    align-items: center;
}

.logo-btn span {
   font-size: 2rem;
   font-weight: 800;
   text-shadow: 2px 2px var(--border-details);
   color: var(--primary-color);
   letter-spacing: 2px
}

nav {
    /* border: 1px solid red;     */
} 

.menus a {
    color: var(--primary-color);
    font-size: 2.1rem;
    margin-right: 10px;
    font-weight: 600;
}

a.nav-link:active,
a.nav-link:focus { 
    display: inline; 
    width: fit-content;
    border-bottom: 3px solid var(--primary-color);
    
}

.navbar-toggler {
   height: 200%;
   
}

.navbar-toggler-icon {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    
}

/* Header */

header {
    /* background-color: var(--background-color); */
   
}


.display-1 {
    color: var(--primary-color);
    font-weight: 800;
}

.display-2 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3rem;
}

.display-3 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2.5rem;
}

.display-5 {
    color: var(--primary-color);
    font-weight: 600;
}

.hero-text {
    padding-bottom: 2rem; /* Adjust this in larger screens */
}

.btn-subscribe {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 2rem;
}

/* Home section */

home {
    background-color: var(--background-color);
}

.featured-card-image {
    border: 1px solid red;
    display: block;
    height: 200px; /* Set desired height */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    
}

.home a {
    font-size: 2rem;
}

.sleep-disorders a {
    font-size:2.5rem;
    background-color: var(--primary-color);
}

.testimonials .card-text {
    font-size: 1.6rem;
}



/* Media queries for home section*/
@media screen and (min-width: 768px) {
    .display-5 {
        font-size: 2.5rem;
      }
}


@media screen and (min-width: 992px) {
    .display-2 {
       font-size: 3.5rem;
    }
    .display-5 {
      font-size: 2.5rem;
    }

    .display-6 {
        font-size: 2.4rem;
    }

    .home .card {
       height: 100%
    }

   
}
/*
Additional Accent Colors:
Soft Mint (#B8E4C9): Use sparingly to introduce freshness and balance.
Deep Navy (#2A3D66): Can be used for headers or navigation elements for contrast and depth.
Usage Suggestions:
Primary Color: Use for main headers, call-to-action buttons, and highlights.
Secondary Color: Apply to subheadings, borders, or background elements to create a gentle contrast.
Accent Color: Use for buttons, icons, and subtle design details.
Background: Utilize a light grayish white for a clean and modern look.
Text: Use charcoal gray for content and light gray (#6C757D) for secondary text.

*/