@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Ultra&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 140%;
}

h1 {
    font-family: "Ultra", serif;
    color: red;
}